@font-face {
  font-family: "skblogicon";
  src: url('skcnbfont.woff2') format('woff2'),
    url('skcnbfont.woff') format('woff'),
    url('skcnbfont.ttf') format('truetype');
}


@font-face {
  font-family: "zcool-hyt";
  src: url('zcool-hyt.woff2') format('woff2'),
    url('zcool-hyt.woff') format('woff');
}

@font-face {
  font-family: "yozai";
  src: url('Yozai.woff2') format('woff2'),
    url('Yozai.woff') format('woff');
}

@font-face {
  font-family: "ysbth";
  src: url('YouSheBiaoTiHei.woff2') format('woff2'),
    url('YouSheBiaoTiHei.woff') format('woff');
}

[class*=' ib-'],
[class^='ib-'] {
  font-family: 'skblogicon' !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.skblogicon {
  font-family: "skblogicon" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.ib-qr:before {
  content: "\e66b";
}

.ib-money:before {
  content: "\e623";
}

.ib-minisize:before {
  content: "\e668";
}

.ib-close-2:before {
  content: "\e60b";
}

.ib-reset:before {
  content: "\e60c";
}

.ib-edit-4:before {
  content: "\e616";
}

.ib-edit-3:before {
  content: "\e60a";
}

.ib-preview:before {
  content: "\e63b";
}

.ib-close:before {
  content: "\e63a";
}

.ib-user:before {
  content: "\e665";
}

.ib-catalog:before {
  content: "\e638";
}

.ib-series:before {
  content: "\e6bc";
}

.ib-up-num:before {
  content: "\e664";
}

.ib-eye:before {
  content: "\e660";
}

.ib-uneye:before {
  content: "\e663";
}

.ib-submit:before {
  content: "\e636";
}

.ib-down-num:before {
  content: "\ee4a";
}

.ib-md:before {
  content: "\e65f";
}

.ib-boy:before {
  content: "\e621";
}

.ib-girl:before {
  content: "\e622";
}

.ib-dir:before {
  content: "\e620";
}

.ib-search:before {
  content: "\e6e3";
}

.ib-edit-2:before {
  content: "\e613";
}

.ib-lots:before {
  content: "\e65d";
}

.ib-dark:before {
  content: "\e614";
}

.ib-sun:before {
  content: "\e697";
}

.ib-sex:before {
  content: "\e65e";
}

.ib-sakura:before {
  content: "\e661";
}

.ib-pan-baidu:before {
  content: "\e61d";
}

.ib-egg:before {
  content: "\e68a";
}

.ib-pokemon:before {
  content: "\e853";
}

.ib-acfun:before {
  content: "\e60f";
}

.ib-twitch:before {
  content: "\e611";
}

.ib-email:before {
  content: "\e612";
}

.ib-leetcode:before {
  content: "\e635";
}

.ib-tumblr:before {
  content: "\e675";
}

.ib-pinterest:before {
  content: "\e98c";
}

.ib-tip-1:before {
  content: "\e72b";
}

.ib-error:before {
  content: "\e630";
}

.ib-tip-3:before {
  content: "\e65c";
}

.ib-tip-2:before {
  content: "\e610";
}

.ib-img:before {
  content: "\e669";
}

.ib-code:before {
  content: "\e615";
}

.ib-st:before {
  content: "\e65b";
}

.ib-face:before {
  content: "\e7fc";
}

.ib-quote:before {
  content: "\e607";
}

.ib-link-a:before {
  content: "\e89c";
}

.ib-star-line:before {
  content: "\e6ad";
}

.ib-heart:before {
  content: "\e61f";
}

.ib-cra:before {
  content: "\e655";
}

.ib-link:before {
  content: "\e656";
}

.ib-author:before {
  content: "\e658";
}

.ib-copyright:before {
  content: "\e65a";
}

.ib-label:before {
  content: "\e654";
}

.ib-h3:before {
  content: "\e64c";
}

.ib-h2:before {
  content: "\e64f";
}

.ib-h5:before {
  content: "\e650";
}

.ib-h6:before {
  content: "\e651";
}

.ib-h4:before {
  content: "\e652";
}

.ib-h1:before {
  content: "\e653";
}

.ib-mt:before {
  content: "\e62b";
}

.ib-cdr:before {
  content: "\e688";
}

.ib-bell:before {
  content: "\e662";
}

.ib-flag:before {
  content: "\e64b";
}

.ib-edit:before {
  content: "\e64a";
}

.ib-contact:before {
  content: "\e634";
}

.ib-sub:before {
  content: "\e628";
}

.ib-edit-1:before {
  content: "\e617";
}

.ib-draft:before {
  content: "\e609";
}

.ib-sub-1:before {
  content: "\e637";
}

.ib-setting:before {
  content: "\e625";
}

.ib-top:before {
  content: "\e9d7";
}

.ib-follow:before {
  content: "\e632";
}

.ib-last:before {
  content: "\e608";
}

.ib-next:before {
  content: "\e627";
}

.ib-switch:before {
  content: "\e61e";
}

.ib-switch-r:before {
  content: "\e97c";
}

.ib-date:before {
  content: "\e64e";
}

.ib-digg:before {
  content: "\e667";
}

.ib-comment:before {
  content: "\e618";
}

.ib-view:before {
  content: "\e810";
}

.ib-steam:before {
  content: "\e7f7";
}

.ib-coding:before {
  content: "\e62f";
}

.ib-kugou:before {
  content: "\e624";
}

.ib-cnblog-f:before {
  content: "\e6f0";
}

.ib-epic:before {
  content: "\eb8a";
}

.ib-gmail:before {
  content: "\eba4";
}

.ib-zhishixingqiu:before {
  content: "\e62a";
}

.ib-niuke:before {
  content: "\e735";
}

.ib-xianyu:before {
  content: "\e62e";
}

.ib-momo:before {
  content: "\e6f7";
}

.ib-aifadian-line:before {
  content: "\e649";
}

.ib-whatsapp-line:before {
  content: "\e8ea";
}

.ib-ximalaya:before {
  content: "\e9af";
}

.ib-tieba:before {
  content: "\e604";
}

.ib-sspai:before {
  content: "\e781";
}

.ib-line-line:before {
  content: "\e765";
}

.ib-whatsapp:before {
  content: "\e97b";
}

.ib-kuaishou-line:before {
  content: "\e648";
}

.ib-jike:before {
  content: "\e62d";
}

.ib-kuaishou:before {
  content: "\e61c";
}

.ib-cnblog:before {
  content: "\e605";
}

.ib-minecraft:before {
  content: "\e6dd";
}

.ib-bluesky:before {
  content: "\e606";
}

.ib-douban:before {
  content: "\e64d";
}

.ib-linkedin:before {
  content: "\e764";
}

.ib-reddit:before {
  content: "\e698";
}

.ib-stack-overflow:before {
  content: "\e720";
}

.ib-codepen:before {
  content: "\e689";
}

.ib-qqmusic:before {
  content: "\e603";
}

.ib-reddit-line:before {
  content: "\e880";
}

.ib-youtube:before {
  content: "\e87a";
}

.ib-youtube-line:before {
  content: "\e6f8";
}

.ib-weibo:before {
  content: "\e63e";
}

.ib-facebook:before {
  content: "\e676";
}

.ib-facebook-fill:before {
  content: "\e66e";
}

.ib-ins-line:before {
  content: "\e87f";
}

.ib-ins:before {
  content: "\e88f";
}

.ib-bilibili-line:before {
  content: "\e75d";
}

.ib-discord-line:before {
  content: "\e755";
}

.ib-pixiv:before {
  content: "\e601";
}

.ib-discord:before {
  content: "\e66a";
}

.ib-gitee:before {
  content: "\e666";
}

.ib-xiaohongshu:before {
  content: "\e6ac";
}

.ib-toutiao:before {
  content: "\e6aa";
}

.ib-csdn:before {
  content: "\e602";
}

.ib-telegram:before {
  content: "\e6bd";
}

.ib-douyin-line:before {
  content: "\e66d";
}

.ib-jianshu:before {
  content: "\e600";
}

.ib-telegram-line:before {
  content: "\e8c7";
}

.ib-douyin:before {
  content: "\e6d7";
}

.ib-ixigua:before {
  content: "\e60e";
}

.ib-weixin:before {
  content: "\e62c";
}

.ib-zhihu:before {
  content: "\e659";
}

.ib-weixin-line:before {
  content: "\e856";
}

.ib-github-line:before {
  content: "\e6b7";
}

.ib-github:before {
  content: "\e657";
}

.ib-twitter:before {
  content: "\ee49";
}

.ib-twitter-line:before {
  content: "\e633";
}

.ib-twitter-x:before {
  content: "\e631";
}

.ib-qq-line:before {
  content: "\e646";
}

.ib-qq:before {
  content: "\e647";
}

.ib-wangyiyun:before {
  content: "\e9ac";
}

.ib-home-iv:before {
  content: "\e645";
}

.ib-tag-iv:before {
  content: "\e641";
}

.ib-cate-iv:before {
  content: "\e642";
}

.ib-about-iv:before {
  content: "\e643";
}

.ib-rank-iv:before {
  content: "\e644";
}

.ib-flink-iv:before {
  content: "\e640";
}