.sk-header {
  position: relative;
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  .sk-nav {
    position: fixed;
    top: 18px;
    z-index: 2;
  }
  .sk-cover {
    --cv-top: 0px;
    position: absolute;
    top: var(--cv-top);
    left: 0;
    z-index: -7;
  }
  .sk-waves {
    position: absolute;
    bottom: 0;
  }
}

@media (max-width: 768px) {
  .sk-header {
    height: 60vw;
    .sk-nav {
      display: none;
    }
  }
  
}
@media (min-width: 768px) {
  .sk-brand {
    position: sticky;
    top: 82px;
  }
}